<chart>
id=132143875106490258
symbol=EURUSD
period_type=1
period_size=1
tester=1
digits=5
tick_size=0.000000
position_time=0
scale_fix=0
scale_fixed_min=1.117800
scale_fixed_max=1.141700
scale_fix11=0
scale_bar=0
scale_bar_val=1.000000
scale=4
mode=1
fore=0
grid=1
volume=0
scroll=0
shift=1
shift_size=20.103093
fixed_pos=0.000000
ohlc=1
one_click=0
one_click_btn=1
bidline=1
askline=0
lastline=0
days=0
descriptions=0
tradelines=1
window_left=0
window_top=0
window_right=0
window_bottom=0
window_type=3
floating=0
floating_left=0
floating_top=0
floating_right=0
floating_bottom=0
floating_type=1
floating_toolbar=1
floating_tbstate=
background_color=16777215
foreground_color=0
barup_color=0
bardown_color=0
bullcandle_color=16777215
bearcandle_color=0
chartline_color=0
volumes_color=32768
grid_color=12632256
bidline_color=12632256
askline_color=12632256
lastline_color=12632256
stops_color=17919
windows_total=1

<window>
height=100.000000
objects=3

<indicator>
name=Main
path=
apply=1
show_data=1
scale_inherit=0
scale_line=0
scale_line_percent=50
scale_line_value=0.000000
scale_fix_min=0
scale_fix_min_val=0.000000
scale_fix_max=0
scale_fix_max_val=0.000000
expertmode=0
fixed_height=-1
</indicator>

<indicator>
name=Custom Indicator
path=Indicators\Examples\ZigZag.ex5
apply=0
show_data=1
scale_inherit=0
scale_line=0
scale_line_percent=50
scale_line_value=0.000000
scale_fix_min=0
scale_fix_min_val=0.000000
scale_fix_max=0
scale_fix_max_val=0.000000
expertmode=0
fixed_height=-1

<graph>
name=ZigZag(12,5,3)
draw=4
style=0
width=1
arrow=251
color=255
</graph>
<inputs>
ExtDepth=12
ExtDeviation=5
ExtBackstep=3
</inputs>
</indicator>
<object>
type=31
name=autotrade #2 buy 8.61 EURUSD at 1.13331
descr=EURUSD:PERIOD_H1:14:14:200:200:
color=11296515
selectable=0
date1=1559927980
value1=1.133310
</object>

<object>
type=32
name=autotrade #3 sell 8.61 EURUSD at 1.13431
color=1918177
selectable=0
date1=1559941200
value1=1.134310
</object>

<object>
type=2
name=autotrade #2 -> #3
descr=1.13331 -> 1.13431
color=11296515
style=2
selectable=0
date1=1559927980
date2=1559941200
value1=1.133310
value2=1.134310
</object>

</window>
</chart>